@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
}
[class*="contenedor"] {
    max-width: 120rem;
    width: 90%;
    margin-inline: auto;
}
h1 {
    font-size: 4rem;
}
a {
    text-decoration: none;
}