@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

// Colores
$primary: #4cb8b3;
$secondary: #f53756;
$darkPrimary: #348380;
$lightYellow: #fef46d;
$darkYellow: #fdee21;
$white: #ffffff;
$black: #000000;
$purple: #752f97;

// Fuentes 
$fuentePrincipal: 'Montserrat', sans-serif;

// Pantallas
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$XLDesktop: 1200px;